body{
  padding-top:105px;
}

.navbar-brand__img{
    width: 50px;
    margin-bottom: 20px;
    margin-right: 10px;
  }

  .lista a{
    font-size: 30px;
    margin-left:25px;
  }

  .lista .container a:hover{
    color:#d00;
    transition: color 1s;
  }
